.cabecalho{
    align-items: center;
    border-bottom: 1px solid var(--cinza-claro);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-decoration: none;
    width: 100%;
}

.cabecalho__container{
    display: flex;
    justify-content: space-around;
    width: 5rem;
}

.cabecalho__titulo{
    color: var(--preto);
    font-size: 2rem;
    font-family: var(--fonte-destaque);
}

.cabecalho__cadastro{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.cabecalho__busca-container{
    border: 1px solid var(--laranja);
    box-sizing: border-box;
    display: flex;
    padding: .2rem;
    margin: 0 1rem;
    text-align: center;
    width: 80%;
}
.cabecalho__busca-container input{
    border: none;
    padding: .5rem;
    width: 100%;
}

.cabecalho__botao{
    background: none;
    border: none;
    margin-top: .1rem;
    width: 2rem;
}
.cabecalho__link .cabecalho__carrinho{
    width: 1.5rem;
    margin-left: .5rem;
}
.cabecalho__menu, .cabecalho__menu--mobile {
    width: 1.5rem;
}

@media screen and (max-width: 768px){
    .cabecalho{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .cabecalho__titulo{
        font-size: 1rem;
        margin-right: 0;
    }
    .cabecalho__container{
        width: 30%;   
    }
    .cabecalho__busca{
        width: 100%;
    }
   .cabecalho__busca-container{
        order: 5;
   }
}
@media screen and (min-width: 769px){
    .cabecalho__container{
        width: 40%;   
    }
    .cabecalho__cadastro{
        width: 40%;
    }
}

@media screen and (min-width: 1020px){
    .cabecalho__container{
        width: 12%;   
    }
    .cabecalho__cadastro{
        width: 20%;
    }
    .cabecalho__menu--mobile{
        display: none;
    }
}