.chamada {
    background-image: url('../assets/bg-chamada.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.chamada__titulo{
    background-color:#d9d9d9dc;
    border-radius: 12px;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    padding: .8rem;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}

.chamada__botao-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chamada__botao--all{
    background-color: var(--laranja);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--branco);
}
.chamada__botao--all:hover{
    background-color: #fe6b3aa5;
}

.chamada__botao--promos{
    background-color: var(--azul-claro);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.chamada__botao--promos:hover{
    background-color: #4F4C4C;
}

@media screen and (min-width: 375px){
    .chamada{
        height: 30vh;
    }
}

@media screen and (max-width: 768px){
    .chamada__botao-flex{
        justify-content: space-around;
    }
    
}
@media screen and (min-width: 768px) {
    .chamada{
        height: 60vh;
    }
    .chamada__botao-flex{
        justify-content: space-around;
    }
    .chamada__titulo{
        font-size: 3rem;
        top: 2rem;
    }
}