.filtro{
    width: 25vw;
    height: 50vh;
}
.filtro__busca{
    border: 1px solid var(--laranja);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.2rem;

}
.filtro__radio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}