.produtos-adicionados {
    margin: 16px 4px;
    padding: 0px 10px;
}

.main-produtos {
    display: flex;
    justify-content: space-between;
}

.card-lista-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-main {
    height: 280px;
    width: 47%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}