.populares{
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
}
.populares__titulo{
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
    text-align: center;
}
.populares-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .populares-flex{
        justify-content: space-between;
    }   
    .populares__titulo{
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }
}
@media screen and (min-width: 1024px) {
}