.produtos{
    border-bottom: 1px solid var(--cinza-claro);
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
}

.produtos__header{
    display: flex;
    justify-content: space-around;
}

.produtos__titulo{
    font-family: var(--fonte-principal);
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
    text-align: center;
}
.produtos-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produtos__card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin: .4rem 0;
    width: 100%;
    padding: 1.3rem;
}

.produtos__card .produtos__card--info .produtos__botao{
    background-color: var(--laranja);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: .9rem;
}

.produtos--todos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1rem;
}

@media screen and (min-width: 768px){
    .produtos-flex{
        justify-content: space-between;
    }
    .produtos__card{
        max-width: 25%;
    }
    .produtos__titulo{
        font-size: 1.4rem;
    }
    
}
@media screen and (min-width: 1024px) {
}