.rodape{
    background-color: var(--laranja);
    padding: 2.5rem;
    display: flex;
}

.rodape__titulo{
    font-family: var(--fonte-destaque);
}
.rodape__lista{
    list-style: none;
}
.rodape__links{
    padding: .5rem;
}
.rodape__links a{
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width: 375px){
    .rodape{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px){
    .rodape{
        justify-content: space-between;
       
    }
}
@media screen and (min-width: 1024px) {

}