.cartao{
    border: 1px solid var(--laranja);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 2rem auto;
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
}

.cartao__titulo{
    color: var(--cinza-escuro);
    font-family: var(--fonte-destaque);
    font-size: 2rem;
}

.formulario{
    font-family: var(--fonte-principal);
    margin-top: 2rem;
}

.formulario__legenda{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.input-container{
    font-family: var(--fonte-secundaria);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}
.input{
    box-sizing: border-box;
    border-bottom: 1px solid var(--laranja);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}
.input::placeholder {
    visibility: hidden;
    color: #00000000;
}
.input:focus {
    outline: none;
}
.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    transition: all .25s;
    font-family: var(--fonte-secundaria);
}
.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    color: var(--laranja);
    border-radius: 7px;
}
.input-container--invalido .input-label {
    color: var(--laranja);
}

.input-mensagem-erro {
    display: none;
}


.input-container--invalido .input-mensagem-erro {
    color: var(--laranja);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid var(--cinza-escuro);
    padding: 0.5rem;    
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
}

.textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label, .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid var(--laranja);
}

.textarea-container--invalido .textarea-label {
    color: var(--laranja);
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: var(--laranja);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
