.login{
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.login input{
    border: 1px solid var(--laranja);
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
}

.login .botao{
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 1rem;
    margin: auto;
}