.quebraLinha{
    border-bottom: 1px solid var(--cinza-claro);
    margin: auto;
}

.quebraLinha__texto{
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    padding: 1.5rem;
    text-align: justify;
}